* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
  }
  
body {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.header {
    margin: 40px;
}

.header__logo {
    height: 40px;
    
}

.login {
    display: flex;
    flex-direction: column;
    margin: 90px auto 10px;
    width: 30%;
    text-align: center;
    color: #333333;
}

.login__logo {
    height: 75px;
    object-fit: contain;
} 

.login__title {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.login__info {
    margin: 15px;
    font-size: 1em;
}

.login__input {
    border: none;
    color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    font-size: 0.9em;
    border-radius: 20px;
    margin: 10px 30px;
}

.login__btn {
    height: 30px;
    margin: 5px 30px;
    border-radius: 10px;
    border: none;
    background-color: #DD7230;
    color: white;
}

.decor {
}